<html>
<head>
	<title>Saludo Sinatra</title>
</head>

<body>
	<style>
	body {background-color: #0F1D7F; width: 70%;margin: 0 auto;}
	h1 {color: white; text-align: center; margin-top: 25%;font-size: 80px;}
	h2 {color: white; text-align: center;}
</style>

<h1> <%= @saludo.upcase %> </h1>
<h2><%= @instrucciones %></h2>

</body>
</html>


